header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, gold, rgb(252, 235, 137));
  color: black;
  transition: 1.5s;
  box-shadow: 0px 2px 8px black;
  white-space: nowrap;
  overflow: hidden;
}

.animation {
  letter-spacing: 20px;
}

main {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 20%;
  margin-top: 80px;
}

body {
  font-family: "Roboto", sans-serif;
}
